<div class="row">
  <!-- <div class="col-md-3">
    <app-component1></app-component1>
  </div>
  <div class="col-md-3">
    <app-component2></app-component2>
  </div>
  <div class="col-md-3">
    <app-component3></app-component3>
  </div>
  <div class="col-md-3">
    <app-component4></app-component4>
  </div>
  <div class="col-md-3">
    <app-channels></app-channels>
  </div> -->
  <!-- <app-jsonplaceholder></app-jsonplaceholder> -->
  <div class="col-md-4">
    <app-comp5></app-comp5>
  </div>
  <div class="col-md-4">
    <app-comp6></app-comp6>
  </div>
  <div class="col-md-4">
    <app-comp7></app-comp7>
  </div>
  <div class="col-md-4">
    <app-comp8></app-comp8>
  </div>
  <div class="col-md-4">
    <app-comp9></app-comp9>
  </div>
  <div class="col-md-4">
    <app-comp10></app-comp10>
  </div>
  <div class="col-md-4">
    <app-comp11></app-comp11>
  </div>
  <div class="col-md-4">
    <app-comp12></app-comp12>
  </div>
  <div class="col-md-4">
    <app-comp13></app-comp13>
  </div>
</div>
